@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunito-Regular.ttf") format("truetype");
}

*{
    font-family: Nunito;
}

.navbar-custom {
    background-color:rgb(46, 204, 113);
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
    font-family: Nunito;
    font-size: 20px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(41, 128, 185) !important;
    border-color: rgb(41, 128, 185) !important;
}
.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
    background-color: rgb(243, 156, 18) !important;
    border-color: rgb(243, 156, 18) !important;
}

body {
    padding: 50px;
    font-size: 15px;
    background-color: rgb(189, 195, 199) !important;
    /* background-color: rgb(41, 128, 185) !important; */
}

a {
    color: #00B7FF;
}

/* .welcomeMessageh1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
} */

.center {
    text-align: center;
}

.bodyStyle {
    background-color: lavender;
}

.table {
    border: 1px black solid;
}


/* #admin {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: blanchedalmond;
} */